@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color: aqua;
}

.swiper {
    width: 80vw;
   
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination-bullet-active{
    background-color: #d33232;
  }

  .swiper-button-next, .swiper-button-prev{
    color: #d33232;
  }

  @media screen and (max-width:500px){
    .swiper{
      width:100vw
    }
  }